@CHARSET "UTF-8";
body{
	font-family: 'Roboto', sans-serif;
}

 .card-message{
  width: 350px;
      margin: 10px;

 }
 .messagesList{
    display: inline-flex;
    flex-direction: row;
        flex-flow: row wrap;
 }

html{
	background-color:#FAFAFA;
}
body{
	margin: 0;
	padding: 0;
}
.mdc-card{
	background-color:#fff;
}
.mdc-toolbar{
	background-color:#424242;
	font-family: 'courrier', sans-serif;
}
.logo{
	width:40px;
	padding-right:30px;
	padding-left:10px;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

